@import "tailwindcss";


@theme {
    --breakpoint-md: 1024px;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 64.5%;
    text-align: center;

    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

body {
    color: #333;
}


.countdown-paper::after {
    content: '';
    position: absolute;
    width: 48px;
    left: 0;
    top: 50%;
    height: 1px;
    background: #D0D0D0;
    z-index: 1;

}